body {
    background-color: #f7f1ed;
}

#page {
    min-height: 100%;
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
}  

#logo {
    width: 310px;
    height: 85px;
}

#search {
	width: 210px;
	height: 40px;
	position: relative;
	bottom: 90px;
	left: 690px;
}

#search input[type="text"] {
    background: #fcfcfc;
    font-size: 12px;
    border: 1px solid #737373;
    color: #737373;
    width: 180px;
    padding: 4px 12px 4px 12px;
    border-radius: 10px;
}

#search input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

#search input[type="image"] {
    position: relative;
    top: 7px;
    left: 1px;
}

#profile {
	width: 160px;
	height: 40px;
	position: relative;
	bottom: 135px;
	left: 975px;
    font-size: 13px;
}

#profile input[type="image"] {
    position: relative;
    top: 7px;
}

#menu {
	width: 850px;
	height: 40px;
	position: relative;
    bottom: 145px;
    left: 303px;
}

ul {
    list-style-type: none;
    background-color: #f7f1ed
}

li {
    float: left;
}

li a, .dropbtn, .dropbtn_active {
    display: block;
    color: #330000;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
}

.dropbtn_active {
    background-color: #efe4dc;
    border-radius: 10px;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: #efe4dc;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.dropdown-content a {
    display: block;
    color: #330000;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-content a:hover {
	background-color: #efe4dc
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidetable {
    width: 180px;
    height: 180px;
    border: 1px solid #330000;
    border-radius: 10px;
    text-align: left;
    font-size: 15;
    padding-left: 5px;
    background-color: #efe4dc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidetable th {
    border-bottom: 1px solid #330000;    
}

#dates {
    position: fixed;
    top: 130px;
}

#announs {
    position: fixed;
    top: 340px;
}

#parthenon {
    height: 400px; 
    width: 640px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 480px;
    z-index: -1;
}

#info {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 260px;
    top: 140px;
    z-index: -1;
}

#info h2 {
    color: #330000;
    margin-bottom: 0;
}

#info h3 {
    color: #330000;
    margin-top: 5px;
}

#countdown {
    width: 250px;
    height: 120px;
    position: absolute;
    left: 260px;
    top: 300px;
    z-index: -1;
}

#countdown h2 {
    color: #330000;
    margin-top: 0;
}

#countdown h4 {
    color: #330000;
    margin-bottom: 3px;
}

#contact {
    left: 460px;
    top: 590px;
    position: absolute;
    font-size: 12;
}


#overview {
    width: 860px;
    height: 250px;
    position: absolute;
    left: 260px;
    top: 100px;
    z-index: -1;
}

#overview h2 {
    color: #330000;
    font-size: 22;
}

#overview p {
    text-align: justify;
    font-size: 15;
}

#subjects {
    width: 860px;
    position: absolute;
    left: 260px;
    top: 380px;
}

#subjects h2 {
    color: #330000;
    font-size: 18;
}

#subjects h4 {
    color: #330000;
    font-size: 16;
    margin-bottom: 15px;
}

#subjects p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 5px;
}

#subjects ul {
    list-style-type: square;
    margin: 0;
    padding-left: 25px;
}

#subjects li {
    text-decoration: none;
    font-size: 15px;
    float: none;
}

.read-more-wrap {
    font-size: 15;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: 15px;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
    top: -10px;
    margin-top: 15px;
}

#last {
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 20px;
}

#keynotes {
    width: 860px;
    position: absolute;
    left: 260px;
    top: 100px;
    z-index: -1;
}

#keynotes h2 {
    color: #330000;
    font-size: 22;
}

.keyspeaker {
    margin-bottom: 40px;
}

.keyspeaker h4 {
    margin-top: 0px;
}

.keyspeaker img {
    float: left;
    margin-right: 20px;
}

.keyspeaker p {
    text-align: justify;
    font-size: 15px;
    margin: 0px;
}

.speech {
    position: relative;
    top: 10px;
}

#workshops {
    width: 860px;
    position: absolute;
    left: 260px;
    top: 100px;
    z-index: -1;
}

#workshops h2 {
    color: #330000;
    font-size: 22;
}

.workshop {
    margin-bottom: 40px;
}

.workshop h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.workshop p {
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
}

.workshop ul {
    list-style-type: square;
    margin: 0;
    padding-left: 25px;
}

.workshop li {
    text-decoration: none;
    font-size: 15px;
    float: none;
}