body {
    background-color: #f7f1ed;
}

#page {
    min-height: 100%;
    max-width: 100%;
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
}  

#logo {
    width: 310px;
    height: 85px;
}

#search {
	width: 210px;
	height: 40px;
	position: relative;
	bottom: 90px;
	left: 690px;
}

#search input[type="text"] {
    background: #fcfcfc;
    font-size: 12px;
    border: 1px solid #737373;
    color: #737373;
    width: 180px;
    padding: 4px 12px 4px 12px;
    border-radius: 10px;
}

#search input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

#search input[type="image"] {
    position: relative;
    top: 7px;
    left: 1px;
}

#profile {
	width: 160px;
	height: 40px;
	position: relative;
	bottom: 135px;
	left: 970px;
    font-size: 13px;
}

#profile input[type="image"] {
    position: relative;
    top: 7px;
}

#menu {
	width: 850px;
	height: 40px;
	position: relative;
    bottom: 145px;
    left: 303px;
    z-index: 1;
}

ul {
    list-style-type: none;
    background-color: #f7f1ed
}

li {
    float: left;
}

#menu li a, .dropbtn, .dropbtn_active {
    display: block;
    color: #330000;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
}

.dropbtn_active {
    background-color: #efe4dc;
    border-radius: 10px;
}

#menu li a:hover, .dropdown:hover .dropbtn{
    background-color: #efe4dc;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.dropdown-content a {
    display: block;
    color: #330000;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-content a:hover {
	background-color: #efe4dc
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidetable {
    width: 180px;
    height: 180px;
    border: 1px solid #330000;
    border-radius: 10px;
    text-align: left;
    font-size: 15;
    padding-left: 5px;
    background-color: #efe4dc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidetable th {
    border-bottom: 1px solid #330000;    
}

#dates {
    position: fixed;
    top: 130px;
    z-index: 1;
}

#announs {
    position: fixed;
    top: 340px;
    z-index: 1;
}

#parthenon {
    height: 400px; 
    width: 640px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 480px;
    z-index: -1;
}

#info {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 245px;
    top: 140px;
    z-index: -1;
}

#info h2 {
    color: #330000;
    margin-bottom: 0;
}

#info h3 {
    color: #330000;
    margin-top: 5px;
}

#countdown {
    width: 250px;
    height: 120px;
    position: absolute;
    left: 245px;
    top: 300px;
    z-index: -1;
}

#countdown h2 {
    color: #330000;
    margin-top: 0;
}

#countdown h4 {
    color: #330000;
    margin-bottom: 3px;
}

#contact {
    left: 460px;
    top: 590px;
    position: absolute;
    font-size: 12;
}

#context {
    width: 78%;
    position: absolute;
    left: 250px;
    top: 100px;
}

#context h2 {
    color: #330000;
    font-size: 22;
}

#context p {
    text-align: justify;
    font-size: 15;
}

#context h4 {
    margin-bottom: 10px;
    color: #330000;
}

#subjects {
    width: 860px;
    margin-top: 30px;
}

#subjects h2 {
    color: #330000;
    font-size: 18;
}

#subjects h4 {
    color: #330000;
    font-size: 16;
    margin-bottom: 15px;
}

#subjects p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 5px;
}

#subjects ul {
    list-style-type: square;
    margin: 0;
    padding-left: 25px;
}

#subjects li {
    text-decoration: none;
    font-size: 15px;
    float: none;
}

#mainguidelines {
    width: 860px;
    height: 250px;
    position: absolute;
    left: 260px;
    top: 100px;
}

#mainguidelines p {
    text-align: justify;
    font-size: 15;
}

#mainguidelines h2 {
    color: #330000;
    font-size: 18;
}

#formatting {
    width: 860px;
    position: absolute;
    left: 260px;
    top: 380px;
}

#formatting p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 15;
}

#formatting h2 {
    color: #330000;
    font-size: 18;
}

#formatting ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#formatting li.msWord {
    background: url('../images/word.png') no-repeat left top;
    height: 54px;
    padding-left: 44px;
    font-size: 15px;
    float: none;
}

#formatting li.Latex {
    background: url('../images/latex.jpeg') no-repeat left top;
    height: 54px;
    padding-left: 44px;
    font-size: 15px;
    float: none;
}

.read-more-wrap {
    font-size: 15;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: 15px;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
    top: -10px;
    margin-top: 15px;
}

#last {
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 20px;
}

.keyspeaker {
    margin-bottom: 40px;
}

.keyspeaker h4 {
    margin-top: 0px;
}

.keyspeaker img {
    float: left;
    margin-right: 20px;
}

.keyspeaker p {
    text-align: justify;
    font-size: 15px;
    margin: 0px;
}

.speech {
    position: relative;
    top: 10px;
}

.workshop {
    margin-bottom: 40px;
}

.workshop h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.workshop p {
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
}

.workshop ul {
    list-style-type: square;
    margin: 0;
    padding-left: 25px;
}

.workshop li {
    text-decoration: none;
    font-size: 15px;
    float: none;
}

.timetable h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.dayprogram {
    border: 1px solid #330000;
    border-collapse: collapse;
    font-size: 15px;
    margin-bottom: 30px;
    background: #f9f9f9;
}

.dayprogram tr {
    border: 1px solid #330000;
    border-collapse: collapse;
}

.dayprogram td {
    padding: 5px;
    border: 1px solid #330000;
    border-collapse: collapse;
}

.dayprogram th {
    font-size: 14px;
    text-align: left;
    padding-right: 8px;
    padding-left: 5px;
}

.break {
    background-color: #bea893;
}

.excursion {
    background-color: #efe4dc;
}

#pdfview {
    font-size: 14px;
    position: absolute;
    left: 90%;
    top: 40px;
}

#filoxenia_info {
    width: 280px;
    height: 330px;
    position: absolute;
    top: 15%;
}

#filoxenia_info h4 {
    margin-bottom: 12px;
}

#filoxenia_info ul {
    padding-left: 0;
    margin: 0;
}

#filoxenia_info li {
    padding-bottom: 5px;
    font-size: 15px;
    float: none;
}

#filoxenia_info a {
    padding: 0;
    text-align: left;
    font-size: 15px;
    color: blue;
    text-decoration-line: underline;
}

#filoxenia_info p {
    margin-top: 40px;
}

.slideshow {
    position: relative;
    left: 348px;
    width: 512px;
    top: -15px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

#filoxenia_more {
    position: absolute;
}

#filoxenia_more h4 {
    color: #330000;
    font-size: 16;
    margin-bottom: 15px;
}

#filoxenia_more p {
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 15px;
}

#filoxenia_more ul {
    list-style-type: square;
    margin: 0;
    padding-left: 15px;
}

#filoxenia_more li {
    text-decoration: none;
    font-size: 15px;
    float: none;
    margin-bottom: 10px;
}

#map {
    position: relative;
    left: 310px;
    height: 400px;
    width: 550px;
}

#tablestyle {
    border-collapse: collapse;
    width: 100%;
} 

#tablestyle th, #tablestyle td {
    padding: 8px;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #b78562;
}

#packages_info h2 {
    margin-top: 30px;
    font-size: 18;
}

#packages_info h4 {
    margin-bottom: 8px;
    font-size: 16px;
}

#packages_info p {
    margin-top: 0px;
    margin-bottom: 10px;
}

#packages_info ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}

#packages_info li {
    text-decoration: none;
    font-size: 15px;
    float: none;
    margin-bottom: 0px;
}

#useful_info h2 {
    color: #330000;
    font-size: 18;
    margin-top: 0px;
}

#signup {
    width: 450px;
    border-radius: 10px;
    background-color: #e2d8cf;
    padding: 10px 20px 30px 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

#signup input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: relative;
    left: 115px;
    top: 40px;
    width: 100px;
    background-color: #4CAF50;
    font-size: 15;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    position: relative;
    left: 105px;
    top: 40px;
    width: 100px;
    background-color: #bfbfbf;
    font-size: 15;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.required {
    width: 170px;
    position: relative;
    left: 405px;
    top: 425px;
    color: red;
    font-size: 15;
    z-index: 0;
}

.wrong_us {
    width: 200px;
    position: relative;
    left: 360px;
    top: -73px;
    color: red;
    font-size: 15;
    z-index: 0;
}

.wrong_pw {
    width: 350px;
    position: relative;
    left: 360px;
    top: -22px;
    color: red;
    font-size: 15;
    z-index: 0;
}